
.hmepage {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(65, 101, 81, 0.65), rgba(182, 118, 114, 0.65));
    background-size: cover;
    background-position: center;
    padding: 1px 8px;
}

.hmepgecontent {
    margin-top: 7rem;
    color: #fff;
    max-width: 620px;
}

.datatable {
    width: 40%;
    float: right;
    border-radius: 10px;
    background: white;
    border: 1px solid #ccc;
    padding: 25px;
    box-shadow: 0 28px 19px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.hmebtn {
    display: flex;
    align-items: center;
    margin-top: 17rem;
    padding: 0.65rem;
    background-color: red;
    border-radius: 8px;
    text-decoration: none;
    color: whitesmoke;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.hmebtn:hover {
    box-shadow: 0 18px 19px rgba(0, 0, 0, 0.1);
}

.hmpgebtn {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

.hmpgebtn:hover {
    background-color: #007BFF;
    color: #fff;
}


@media (max-width: 700px) {
    .hmepgecontent {
        margin-top: 4rem;
        max-width: 90%;
    }

    .datatable {
        width: 100%;
        float: none;
        margin: 0 auto;
        border-radius: 10px;
        background: white;
        border: 1px solid #ccc;
        padding: 10px;
        box-shadow: 0 28px 19px rgba(0, 0, 0, 0.1);
        z-index: 1;
    }

    .tr {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #ccc;
        margin: 5px 0;
        padding: 10px;
    }

    .tr td {
        width: 100%;
        padding: 5px;
        text-align: center;
    }

    .hmebtn {
        display: flex;
        align-items: center;
        margin-top: 4rem;
        padding: 0.65rem;
        background-color: red;
        border-radius: 8px;
        text-decoration: none;
        color: whitesmoke;
        cursor: pointer;
        transition: box-shadow 0.3s ease;
    }

    .hmebtn:hover {
        box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
    }
}
