.containa {
    width:100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(54, 61, 86, 0.65), rgba(34, 31, 56, 0.65)), url(https://images.unsplash.com/photo-1619793527010-1fdbd2764e6c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1065&q=80);
    background-size: cover;
    background-position: center;
    padding: 1px 8px;
    
}

.container2{
    width:100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(54, 61, 86, 0.65), rgba(34, 31, 56, 0.65)), url(https://images.unsplash.com/photo-1619874349927-ac1b7b8d8dbf?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
    background-size: cover;
    background-position: center;
    padding: 1px 8px;
    

}

.content {
    margin-top: 7rem;
    color: #fff;
    max-width: 620px;    
}

.content2 {
    margin-top: 8rem;
    color:black;
    max-width: 620px; 
    float: right;
    font-size: 25px;
    margin-bottom: 5rem;  
    

}

.content h1 {
    font-size: 90px;
    font-weight: 400;
    line-height: 80px;
    margin-bottom: 25px;    
}

.ptag {
    margin-top: 5rem;
    font-size: 1.5rem;
}

.ptag2 {
  margin-top: 5rem;
  font-size: 1.5rem;
}

@media screen and (max-width: 700px) {
  .containa {
    padding: 1px 4px;
  }

  .container2 {
    padding: 1px 4px;
  }

  .content {
    margin-top: 5rem;
    font-size: 15px; 
  }

  .content2 {
    margin-top: 5rem;
    font-size: 15px; 
  }

  .content h1 {
    font-size: 60px;
  }

  .ptag {
    margin-top: 3rem;
    font-size: 1.2rem; 
    
  }
  .ptag2 {
    margin-top: 2rem;
    font-size: 1.5rem;
    
    
  }
}