.navbar {
  width: 100%;
  background-color: rgb(229, 230, 224);
  height: 3rem;

}

.navbar ul {
  list-style: none;
  display: inline-block;
  padding: 0 95px; 
  
}


.navbar ul li {
  display: inline-flex;
  padding: 28px 30px;
  padding-top: 10px;
  margin-top: 0;
  height: 2rem; 
  
}

.navbar ul li:hover {
  background-color: rgb(194, 189, 174);
  border-bottom: 2px solid rgb(241, 12, 12); 
}

.navbar ul li a {
  color: black;
  text-decoration: none;
  
}
@media (max-width: 550px) {
  .navbar{
    font-size: 0.8rem;
    /* height: 4.5rem; */
  }

  .navbar ul li {
    padding: 10px 15px;
    padding-top: 5px;
    margin-top: 0;
    height: 2rem; 
     
  }

  .navbar ul {        
    padding: 0 0px; 
  }

}

@media (max-width: 495px){
  .navbar{
    font-size: 0.8rem;
    /* height: 4.5rem; */
  }

  .navbar ul li {
    padding: 10px 15px;
    padding-top: 5px;
    margin-top: 0;
    height: 2rem; 
     
  }

  .navbar ul {        
    padding: 0 0px; 
  }


}



@media (max-width: 445px) {
  .navbar{
    height: 4.5rem;
  }
}

@media (max-width: 700px) {
  .navbar{

  }

  .navbar ul li {
    padding: 10px 10px;
    padding-top: 5px;
    margin-top: 0;
    height: 2rem; 
     
  }


  .navbar ul {        
    padding: 0 0px; 
  }

  .navbar.collapsed .navul {
    display: none; 
  }

  .navbar.expanded .navul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
  }

  .toggle-button {
    display: block;
  }
}

  